body {
  font-size: 18px;
  font-family:"Helvetica Neue", "Open Sans", sans-serif;
  font-weight: 300;
  color: black;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-left: 5vw;
  margin-right: 10vw;
}

a {
    color: inherit;
    text-decoration: none;
}

#overlay {
    height: 100%;
    width: 100%;
    opacity: 0.7;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

#bigCircle {
    height: 90vh;
    width: 90vh;
    background-color: black;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    border-radius: 50%;
    visibility: hidden;
}

.textBlurb {
    visibility: hidden;
    position: absolute;
    z-index: 5;
}

.circle {
    height: 15vh;
    width: 15vh;
    background-color: white;
    border: 5px black;
    display: inline-block;
    border-radius: 50%;
    border-style: solid;
    margin: 5vh 9vh;
}

.circle:hover {
    background-color: black;
}

.expanded {
    height: 30vh; width: 30vh;
    -webkit-animation-name: enlarge;
    -webkit-animation-duration: 1.5s;
    animation-name: enlarge;
    animation-duration: 1.5s;
}

@-webkit-keyframes enlarge {
  from {height: 15vh; width: 15vh;} 
  to {height: 30vh; width: 30vh;} 
}

@keyframes enlarge {
  from {height: 17vh; width: 17vh;} 
  to {height: 30vh; width: 30vh;} 
}

.fadeIn {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: 0} 
  to {opacity: 0.7}
}

@keyframes fade {
  from {opacity: 0} 
  to {opacity: 0.7}
}

text {
    visibility: hidden;
}